<p
  style='width: 100%; height: 32px; background-color: #D8E2F1; color: #090F34; text-align: center; padding: 10px; font-size: 1.5rem; font-weight: bold'>
  HELPER
</p>
<p>Hi {{ name }},</p>
<p>Please click below to confirm your email</p>
<p>
  <a href="{{ url }}">Confirm</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>