@import "../../../../shared/constants/vars"

button.btn
  background-color: transparent
  color: $white
  margin-right: 1rem
  padding: 0 0.6rem

  svg
    fill: $red

  &.mobile
    margin-right: 0

  &:hover
    background-color: #1565c0

.header
  color: initial
  font-weight: 500

button.close
  color: initial
