@import "../../../../shared/constants/vars"

button.btn
  background-color: transparent
  color: $white
  margin-right: 1rem

  &:hover
    background-color: #1565c0

.header
  color: initial
  font-weight: 500

button.close
  color: initial
