.card
  margin-top: 1.5rem
  .cardHeader
    padding-bottom: 0
  &:last-child
    margin-bottom: 3rem
  .heading
    display: flex
    align-items: center
    svg
      font-size: 32px
      margin-right: 0.7rem
    .telegram
      fill: #328fec
    .whatsapp
      fill: #25d366
    .viber
      font-size: 30px
      background: #593ebc
      fill: white
      padding: 4px
      border-radius: 4px