@import "../../constants/vars"


.title
  font-size: 1.5rem

.link
  display: flex
  align-items: center
  transition: color 400ms
  gap: 0.6rem

  &.mobile
    margin-right: auto


  &:hover
    color: $link

@media only screen and (max-width: 400px)
  .logo
    display: none