@import "../../../../../../shared/constants/mixins"
@import "../../../../../../shared/constants/vars"

.container
  @include form-container

  .link
    color: #090F34
    text-decoration: underline
    font-size: 0.8rem
    font-weight: 600

  .serverError
    color: $red
    display: block
    height: 40px
    margin-top: 1rem
    text-align: center
    font-weight: 600

  .hidden
    visibility: hidden

  .visible
    visibility: visible

  .mb05
    margin-bottom: 0.5rem

