@import "../../shared/constants/vars"
@import "../../shared/constants/mixins"

.title
  @include title

.text
  text-align: center
  margin-top: 1.5rem
  font-weight: bold

.error
  color: $red
  margin-top: 1.5rem
  text-align: center