@import "../../shared/constants/mixins"
@import "../../shared/constants/vars"

.title
  margin: 1.5rem 0 1rem
  text-align: center

.text
  text-align: center

.red
  color: $red

.container
  display: flex
  flex-direction: column
  max-width: 400px
  margin: 2rem auto 0

  .input_container
    position: relative
    padding-bottom: 1.6rem

    .error
      position: absolute
      color: $red

button.btn
  @include btn
  margin: 1.5rem 0
  height: 40px

  &:hover
    @include btn-hover

  &:disabled
    background-color: #72a2d2