@import "../../../../shared/constants/vars"

.card
  width: 100%
  padding-top: 2rem

  .cardHeader
    padding: 0.8rem 1.25rem 0

    .heading
      display: flex
      align-items: center
      color: $primary-text
      font-size: 1.62rem
      font-style: normal
      font-weight: 700
      line-height: 130%
      letter-spacing: -0.52px

      svg
        font-size: 32px
        margin-right: 0.7rem
        fill: red

  .cardBody
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0.5rem 0.5rem 0.5rem 1.25rem

    .text
      color: $primary-text-color
      font-size: 0.9rem
      font-style: normal
      font-weight: 500
      letter-spacing: 0.16px


    .btn
      cursor: inherit
      height: 30px
      border-radius: 12px
      background: $primary-dark-color
      display: inline-flex
      padding: 2px 22px
      justify-content: center
      align-items: center
      color: $white
      text-decoration: none
      font-weight: 600
      line-height: normal
      letter-spacing: -0.14px
      margin-left: 1rem
      font-size: 0.74rem
      border: none
      transition: background 400ms
      &:hover
        background: $primary-dark-color
        transition: background 400ms

      &.can
        cursor: pointer
        background: $primary-text
        color: $red
        &:hover
          background: $primary-dark-color
          transition: background 400ms


@media only screen and (max-width: 640px)
  .card
    margin: 0