@import "../../../../../shared/constants/vars"

.container
  position: relative
  align-self: flex-end
  margin: 2px 1rem
  min-width: 90px

  .view
    display: flex
    align-items: center
    cursor: pointer
    font-size: 0.84rem
    color: $primary-dark-color
    font-weight: 500
    gap: 0.3rem
    p
      max-width: 180px
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden

    .arrow_icon
      fill: $primary-dark-color
      &.rotate
        transform: rotate(180deg)

  .btn_container
    background: $white
    margin: 0
    padding: 0
    overflow-y: auto
    max-height: 0
    list-style: none
    position: absolute
    top: 20px
    right: 0
    border-radius: 4px

    &.open
      max-height: 200px
      width: 100%
      box-shadow: 0 30px 90px 0 rgba(31, 36, 48, 0.1)

    .btn
      cursor: pointer
      border: none
      background: transparent
      color: $primary-dark-color
      letter-spacing: -0.14px
      font-weight: 600
      width: 100%
      font-size: 0.9rem
      height: 34px
      border-bottom: 1px solid $border-color
      transition: background 400ms
      &:hover
        background: $primary-color
        transition: background 400ms

