@import "../../../../shared/constants/vars"

.container
  display: flex
  flex-direction: column
  border-radius: 22px
  background: $white
  position: relative

  .user
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px 24px
    border-radius: 22px 22px 0 0
    background: $primary-color
    height: 60px
    color: $stars-color
    &.pr_40
      padding-right: 40px

    .name
      color: $primary-text
      font-size: 16px
      font-style: normal
      font-weight: 600
      line-height: normal
      letter-spacing: -0.16px

  .title
    padding: 20px 24px 4px

    .text
      color: $primary-text
      font-size: 26px
      font-style: normal
      font-weight: 700
      line-height: 130%
      letter-spacing: -0.52px

  .description
    padding: 10px 24px
    &.profile
      padding: 0 24px 10px

    .text
      color: $gray-text
      font-size: 1rem
      font-style: normal
      font-weight: 500
      line-height: 135%
      letter-spacing: 0.16px

  .footer
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px 24px
    flex-wrap: wrap

    .text
      font-size: 1rem
      font-style: normal
      line-height: 1rem
      color: $icon-color
      font-weight: 500


