@import "../../constants/mixins"
@import "../../constants/vars"

button.btn
  @include link-btn
  margin-top: 0.4rem
  transition: background 400ms
  &:hover
    background: #cfd7e5
    transition: background 400ms