@import "../../shared/constants/vars"


.container
  width: 100%
  .text_container
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 3px

    .text
      font-size: 0.8rem
      color: $primary-dark-color
      display: flex
      align-items: center

      svg
        font-size: 16px
        margin-right: 4px

      .telegram
        fill: #328fec

      .whatsapp
        fill: #25d366

      .messenger
        width: 17px
        height: 17px

    .btn
      font-size: 0.8rem
      color: $primary-dark-color
      border: none
      background: transparent
      text-decoration: underline
      cursor: pointer
      &.red
        color: $red

  .input, input[type="tel"], .textarea
    width: 100%
    border: 1px solid $primary-color
    height: 36px
    padding: 2px 6px
    font-size: 1rem
    &:focus-visible
      outline: 1px solid $primary-color

  .input, .textarea
    border-radius: 4px

  input[type="tel"]
    border-radius: 0 4px 4px 0

  .textarea
    min-height: 80px

  .number
    height: initial