@import "../../../../../shared/constants/vars"

.btn
  padding: 13px 22px
  border-radius: 12px
  background: $primary-text
  border: none
  cursor: pointer

  color: $white
  text-align: center
  font-size: 1rem
  font-style: normal
  font-weight: 600
  line-height: normal
  letter-spacing: -0.16px
  transition: background 400ms
  &:hover
    background: $primary-dark-color
    transition: background 400ms

.container
  max-width: 100%
  width: 300px
  background: $white
  display: flex
  flex-direction: column
  padding: 1.5rem 1.4rem 1rem
  border-radius: 0 0 22px 22px

  .contactField
    width: 100%
    display: flex
    align-items: center
    gap: 0.8rem
    margin-bottom: 1rem

    a
      color: $primary-text
      font-weight: 500
      text-decoration: none

    svg
      font-size: 28px

    .phone, .email
      fill: $icon-color
      font-size: 27px

    .telegram
      fill: #328fec

    .whatsapp
      fill: #25d366

    .viber
      font-size: 25px
      background: #593ebc
      fill: white
      padding: 4px
      border-radius: 4px

@media only screen and (max-width: 500px)
  .contacts .contactField
    width: 100%