.cards
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr))
  align-items: flex-start
  gap: 2rem
  list-style: none
  margin-bottom: 3rem
  &.small
    grid-template-columns: repeat(auto-fit, minmax(290px, 30vw))
