@import "../../../../../shared/constants/vars"

.container
  padding: 10px 24px
  display: flex
  flex-wrap: wrap
  align-items: center
  gap: 0.6rem

  .image_container
    position: relative
    width: 22%
    min-width: 22%
    border-radius: 14px
    overflow: hidden

    .image
      object-fit: cover
      width: 100%
      height: 100%
      cursor: pointer

    .remove
      position: absolute
      top: -1px
      right: -1px

      svg
        fill: $red
        font-size: 20px

        &:hover
          filter: drop-shadow(0 0 2px silver)

  .add
    width: 22%
    min-width: 22%
    border-radius: 14px
    background: $empty-image-background
    border: none
    cursor: pointer
    color: $icon-color
    font-size: 0.8rem
    font-style: normal
    font-weight: 600
    line-height: 1rem
    transition: background 400ms
    svg
      fill: $icon-color
    &:hover
      transition: background 400ms
      background: $empty-image-background-hover

.icon
  width: 46px
  height: 46px


