@import '../../../../shared/constants/vars'

.container
  display: flex
  align-items: flex-end
  .input
    display: none
  label
    margin-left: -20px
    z-index: 1
    cursor: pointer
    &:hover
      .icon
        fill: #343333
  .icon
    font-size: 32px
    fill: black