@import "../../../../shared/constants/vars"

.divider
  width: 2px
  height: 18px
  background: $white
  margin: 0 1.6rem

div.input_group
  background: white
  border-radius: 12px
  display: flex
  align-items: center
  padding: 4px 10px
  margin-left: auto
  height: 30px
  gap: 6px

  svg
    fill: #7084A8

  input.input
    border: none
    width: 100px
    &:focus-visible
      outline: none
    &::placeholder
      color: #7084A8
      font-size: 0.64rem

